.div1 {
    height: 200px;
    width: 100%;
    border: 2px  solid rgb(242, 248, 153); 
    position: absolute 
}
.div2 {
    height: 200px;
    width: 100%;
    border: 2px  solid rgb(248, 125, 125); 
    position: absolute;
    margin-top: 210px;
    
}
.div3 {
    height: 100px;
    width: 300px;
    border: 2px  solid rgb(78, 139, 62); 
    position: absolute ;
    margin-left: 310px;
}
.div4 {
    height: 150px;
    width: 300px;
    border : 2px  solid rgb(222, 233, 233); 
    position: absolute ;
    margin-left: 310px ;
    margin-top: 110px;
}
.div5 {
    height: 140px;
    width: 100%;
    border: 2px  solid rgb(101, 125, 235); 
    position: absolute ;
    margin-left: 310px;
    margin-top: 270px;
}